
{% extends 'layouts/base.html' %}
{% block content %}

<div class="flex flex-col justify-center items-center">
  <div class="text-center">
    <h1 class="text-2xl md:text-3xl font-bold">確認訂單</h1>
    <p class="text-gray-500 dark:text-gray-400">準備好要加入我們成為Premium會員了嗎？</p>
  </div>
  <div class="flex flex-col items-center justify-center">

    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="order-number">訂單編號：{{ MerchantOrderNo }}</label>
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="order-number">商品名稱：{{ ItemDesc }}</label>
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="order-number">商品金額：＄ 100</label>
  </div>

  <form action="https://ccore.newebpay.com/MPG/mpg_gateway" method="post">
      <input type="hidden" name="MerchantID" value="{{ MerchantID }}" />
      <input type="hidden" name="TradeSha" value="{{ TradeSha }}" />
      <input type="hidden" name="TradeInfo" value="{{ TradeInfo }}" />
      <input type="hidden" name="Version" value="{{ Version }}" />
      <button type="submit">送出</button>
  </form>
</div>
{% endblock %}