<aside class="absolute md:relative bg-slate-900 w-[250px] h-screen overflow-hidden top-0 right-[-100%] md:right-0"
	style="height: calc(100vh - 81.35px);">
	<div class="flex flex-col h-full p-5">

		<div class="head-block">
			<p class="block py-5 text-xl text-white border-b-2 border-white">討論版事項</p>
		</div>
		<div class="h-full py-5 overflow-hidden">
			<div
				class="body-block h-full overflow-y-scroll [&>div>a:hover]:bg-white [&>div>a:hover]:text-black [&>div>a]:rounded-sm [&>div>a]:p-2 [&>div>a]:my-2">
				<div class="flex flex-col gap-3 group">
					<div class="p-2 bg-white rounded-md card">
						<div class="text">
							<h3 class="title">這就是個標題怎樣</h3>
							<p>
								原理興趣恢復在這一會兒兩位思考，平台害怕緩緩簡歷收益一時幹什麼再也臉上陽明山，影響未知不怕打印擔任我要，一份一會兒感染創意導演只好斑竹福建，通知斑竹分別，推坑王大哥操作面議軟體開通我去，打開得分內部三個試題我去哥哥排行榜簡直程式，尷尬某些還沒有，釣魚按鈕。
							</p>
						</div>
					</div>
					<div class="p-2 bg-white rounded-md card">
						<div class="text">
							<h3 class="title">這就是個標題怎樣</h3>
							<p>
								原理興趣恢復在這一會兒兩位思考，平台害怕緩緩簡歷收益一時幹什麼再也臉上陽明山，影響未知不怕打印擔任我要，一份一會兒感染創意導演只好斑竹福建，通知斑竹分別，推坑王大哥操作面議軟體開通我去，打開得分內部三個試題我去哥哥排行榜簡直程式，尷尬某些還沒有，釣魚按鈕。
							</p>
						</div>
					</div>
					<div class="p-2 bg-white rounded-md card">
						<div class="text">
							<h3 class="title">這就是個標題怎樣</h3>
							<p>
								原理興趣恢復在這一會兒兩位思考，平台害怕緩緩簡歷收益一時幹什麼再也臉上陽明山，影響未知不怕打印擔任我要，一份一會兒感染創意導演只好斑竹福建，通知斑竹分別，推坑王大哥操作面議軟體開通我去，打開得分內部三個試題我去哥哥排行榜簡直程式，尷尬某些還沒有，釣魚按鈕。
							</p>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>
</aside>