<aside class="absolute md:relative bg-slate-900 w-[250px] h-screen overflow-hidden top-0 left-[-100%] md:left-0"
  style="height: calc(100vh - 81.35px);">
  <div class="flex flex-col h-full p-5">

    <div class="head-block">
      <a class="block py-5 text-xl text-white border-b-2 border-white" href="">所有看板</a>
    </div>
    <p class="py-5 text-xl text-white border-b-2 border-white">看板列表</p>
    <div class="h-full py-5 overflow-hidden">
      <div
        class="body-block h-full overflow-y-scroll [&>div>a:hover]:bg-white [&>div>a:hover]:text-black [&>div>a]:rounded-sm [&>div>a]:p-2 [&>div>a]:my-2">
        <div>
          <a class="block text-xl text-white" href="{% url 'boards:new' %}">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
          <a class="block text-xl text-white" href="">這是個看板</a>
        </div>

      </div>
    </div>
  </div>
</aside>