{% extends 'boards/base.html' %}
{% block content %}
{% include 'friends/navbar.html' %}

<div class="mx-auto mt-4 max-w-4/5">
  <div class="px-4">
    <div class="space-y-2">
      {% for friend in friend_list %}
      <div class="flex items-center justify-between px-4 py-2 rounded-lg hover:bg-gray-200">
        <div class="flex items-center space-x-2">
          {% if friend.sender != user %}
          {% if friend.sender.user_img %}
          <img src="{{ friend.sender.user_img.url }}" alt="photo" class="w-12 h-12 border border-gray-200 rounded-full">
          {% else %}
          <img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
          {% endif %}
          <div class="text-gray-800">{{ friend.sender.username }}</div>
          {% else %}
          {% if friend.sender.user_img %}
          <img src="{{ friend.receiver.user_img.url }}" alt="photo"
            class="w-12 h-12 border border-gray-200 rounded-full">
          {% else %}
          <img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
          {% endif %}
          <div class="text-gray-800">{{ friend.receiver.username }}</div>
          {% endif %}
        </div>
        <div x-data="{ isOpen: false }" class="flex items-center flex-shrink-0 space-x-2">
          <a href="#" class="pt-2">
            <span class="text-gray-500 hover:text-gray-700 material-symbols-outlined"
              style="font-size: 30px;">sms</span>
          </a>
          <button @click="isOpen = !isOpen"
            class="pb-1 text-gray-500 hover:text-gray-00 material-symbols-outlined focus:outline-none"
            style="font-size: 30px;">expand_circle_right
          </button>
          <div x-show="isOpen" @click.away="isOpen = false">
            <a href="{% url 'friends:delete' friend.id %}" class="text-red-600 hover:text-red-800">刪除</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}