{% extends 'boards/base.html' %}
{% block content %}
{% include 'friends/navbar.html' %}

<div class="max-w-4xl mx-auto mt-4">
  <div class="px-4">
    <div class="space-y-2">
      {% for friend in friend_list %}
      <div class="flex items-center justify-between px-4 py-2 rounded-lg hover:bg-gray-200">
        <div class="flex items-center space-x-2">
          {% if friend.sender != user %}
          {% if friend.sender.user_img %}
          <img src="{{ friend.sender.user_img.url }}" alt="photo" class="w-12 h-12 border border-gray-200 rounded-full">
          {% else %}
          <img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
          {% endif %}
          <div class="text-gray-800">{{ friend.sender.username }}</div>

          <section>
              <div class="py-2 border-2 border-solid">{{friend.sender.id}}
                  <a class="" href="{% url 'chats:private_message_receiver' friend.sender.id %}">{{friend.sender.username}}</a>
              </div>
                  <button type="button"></button>
          </section> 

          {% else %}
          {% if friend.receiver.user_img %}
          <img src="{{ friend.receiver.user_img.url }}" alt="photo"
            class="w-12 h-12 border border-gray-200 rounded-full">
          {% else %}
          <img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
          {% endif %}
          <div class="text-gray-800">{{ friend.receiver.username }}</div>

          <section>
              <div class="py-2 border-2 border-solid">{{friend.receiver.id}}
                  <a class="" href="{% url 'chats:private_message_receiver' friend.receiver.id %}">{{friend.receiver.username}}</a>
              </div>
                  <button type="button"></button>
          </section> 

          {% endif %}
        </div>
        <div class="flex items-center flex-shrink-0 mr-2 space-x-2">

          
           

          <a href="#" class="pt-2">
            <span class="text-gray-500 hover:text-gray-700 material-symbols-outlined"
              style="font-size: 30px;">sms</span>
          </a>

          <div x-data="{ isOpen: false }" class="relative">
            <button @click="isOpen = !isOpen"
              class="pt-1 text-gray-500 hover:text-gray-700 material-symbols-outlined focus:outline-none"
              style="font-size: 30px;">expand_circle_right</button>
            <div x-show="isOpen" @click.away="isOpen = false"
              class="absolute right-[-35px] flex items-center justify-center w-20 mt-2 bg-white border border-gray-200 rounded shadow-md top-8">
              <a href="{% url 'friends:delete' friend.id %}"
                class="inline-block px-2 py-1 text-sm font-light text-red-600 hover:text-red-800">刪除</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="">
  {% if is_paginated %}

    <div class="pagination  flex grow justify-center">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1{% if request.GET.username %}&username={{ request.GET.username }}{% endif %}">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.username %}&username={{ request.GET.username }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}{% if request.GET.username %}&username={{ request.GET.username }}{% endif %}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.username %}&username={{ request.GET.username }}{% endif %}">last &raquo;</a>
        {% endif %}
      </span>
    </div>

  {% endif %}
  </div>


</div>
{% endblock %}