{% extends 'layouts/base.html' %}
{% block title %}Friend{% endblock %}

{% block content %}
<div class="py-6">
  <a href="{% url 'friends:friend_requests' %}"
    class="inline-block px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">好友邀請</a>
</div>

<h1 class="mb-4 text-2xl font-semibold">好友列表：</h1>

<div class="mb-4 overflow-hidden bg-white shadow sm:rounded-md">
  <ul>
    {% for friend in friend_list %}
    <li class="border-t border-gray-200">
      <div class="flex items-center justify-between px-4 py-4 sm:px-6">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="w-10 h-10 rounded-full"
              src="{% if friend.sender != user %}{{ friend.sender.profile_picture.url }}{% else %}{{ friend.receiver.profile_picture.url }}{% endif %}"
              alt="">
          </div>
          <div class="ml-3">
            {% if friend.sender != user %}
            <p class="text-sm font-medium text-gray-900">{{ friend.sender.username }}</p>
            {% else %}
            <p class="text-sm font-medium text-gray-900">{{ friend.receiver.username }}</p>
            {% endif %}
          </div>
        </div>
        <div class="flex-shrink-0">
          <a href="{% url 'friends:friend_delete' friend.id %}" class="text-red-600 hover:text-red-800">刪除好友</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}