<nav class="sticky top-0 w-full mx-auto bg-white rounded-lg shadow-md">
    <div class="flex items-center justify-between px-4 py-2 border-b">
        <div class="flex items-center">
            <button onclick="window.history.back();" class="material-symbols-outlined">arrow_back</button>
            <span class="material-symbols-outlined text-lg font-medium" style="font-size: 30px; padding-left: 10px;">
                group
            </span>
        </div>
        <div class="flex space-x-2">
            <a href="{% url 'friends:member_list' %}">
                <button class="w-full h-full px-2 bg-gray-200 rounded hover:bg-gray-300">版友</button>
            </a>
            <a href="{% url 'friends:friend_list' %}">
                <button class="w-full h-full px-2 py-2 bg-gray-200 rounded hover:bg-gray-300">好友</button>
            </a>
            <a href="{% url 'friends:requests' %}">
                <button class="w-full h-full px-2 bg-gray-200 rounded hover:bg-gray-300">等待中</button>
            </a>
            <a href="{% url 'chats:index' %}">
                <button class="w-full h-full px-2 bg-gray-200 rounded hover:bg-gray-300">訊息</button>
            </a>
        </div>

</nav>