{% extends 'layouts/base.html' %}
{% block content %}
<div class="max-w-md mx-auto mt-10 bg-white rounded-lg shadow-md">
  <div class="flex items-center justify-between p-4 border-b">
    <span class="material-symbols-outlined">home</span>
    <div class="text-lg font-medium">好友</div>
    <div class="flex space-x-2">
      <button class="px-2 py-2 bg-gray-200 rounded">線上</button>
      <button class="px-2 py-1 bg-gray-200 rounded">所有</button>
      <button class="px-2 py-1 bg-gray-200 rounded">等待中</button>
      <button class="px-2 py-1 bg-gray-200 rounded">已封鎖</button>
      <button class="px-2 py-1 text-white bg-green-500 rounded">新增好友</button>
    </div>
  </div>

  <form method="GET" action=".">
    <input type="search" name="username" class="px-2 py-1 border-2 border-gray-500" placeholder="search">
    <button class="px-2 py-1 bg-gray-300">搜尋</button>
  </form>

  <div class="p-4">
    <div class="space-y-4">
      {% if search_list %}
      {% for member in search_list %}
      <div class="flex items-center space-x-4">
        {% if member.user_img %}
        <img src="{{ member.user_img.url }}" alt="photo"
          class="block object-cover object-center w-12 h-12 border-2 border-gray-200 rounded-full">
        {% else %}
        <img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
        {% endif %}
        <div class="flex-1">
          <div class="font-semibold">{{ member.username }}</div>
        </div>
        <form method="post" action="{% url 'friends:send_friend_request' receiver_id=member.id %}">
          {% csrf_token %}
          <button type="submit" class="flex items-center justify-center w-8 h-8 bg-gray-200 rounded-full">
            <span class="material-symbols-outlined" style="font-size: 24px;">person_add</span>
          </button>
        </form>
      </div>
      {% endfor %}
      {% else %}
      <p>沒有找到任何會員。</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}