{% extends 'boards/base.html' %}
{% block content %}
{% include 'friends/navbar.html' %}
{% include 'shared/message.html' %}


<div class="mx-auto max-w-4/5 flex flex-col  ">
  <div class="w-full p-4 grow-0 ">
    <form method="GET" action="." class="flex justify-end">
      <input type="search" name="username" class="w-5/6 px-2 py-1 border-2 border-gray-500 rounded" placeholder="搜尋">
      <button type="submit" class="px-4 py-1 ml-2 mr-6 bg-gray-200 rounded hover:bg-gray-300">搜尋</button>
    </form>
  </div>
  <div class="px-4 grow-0 ">
    <div class="space-y-2">
      {% if search_list %}
      {% for member in search_list %}
      <div class="flex items-center px-4 py-1 space-x-4 rounded-lg hover:bg-gray-200">
        {% if member.user_img %}
        <img src="{{ member.user_img.url }}" alt="photo" class="w-12 h-12 border border-gray-200 rounded-full">
        {% else %}
        <img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
        {% endif %}
        <div class="flex-1">
          <div class="font-semibold">{{ member.username }}</div>
        </div>

        <section>
              <div class="py-2 border-2 border-solid">{{member.id}}
                  <a class="" href="{% url 'chats:private_message_receiver' member.id %}">{{member.username}}</a>
              </div>
                  <button type="button"></button>
        </section> 

        <form method="post" action="{% url 'friends:send_request' receiver_id=member.id %}">
          {% csrf_token %}
          <button type="submit" class="flex items-center justify-center w-8 h-8 bg-gray-200 rounded-full">
            <span class="material-symbols-outlined" style="font-size: 24px;">person_add</span>
          </button>
        </form>
      </div>
      {% endfor %}
      {% else %}
      <p class="p-4">沒有找到任何版友。</p>
      {% endif %}
    </div>
  </div>

  <div class="">
  {% if is_paginated %}

    <div class="pagination  flex grow justify-center ">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1{% if request.GET.username %}&username={{ request.GET.username }}{% endif %}">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.username %}&username={{ request.GET.username }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}{% if request.GET.username %}&username={{ request.GET.username }}{% endif %}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.username %}&username={{ request.GET.username }}{% endif %}">last &raquo;</a>
        {% endif %}
      </span>
    </div>

  {% endif %}
  </div>

</div>
{% endblock %}