{% extends 'boards/base.html' %}
{% block content %}
<div class="py-10" style="min-height: calc(100vh - 118px);">
  <div class="max-w-4xl p-6 mx-auto bg-white">
    <div class="mb-6">
      <div class="flex items-center">
        <div class="w-16 h-16 mr-4 overflow-hidden border border-gray-300 rounded-full">
          {% if member.user_img %}
          <img src="{{ member.user_img.url }}" alt="photo" loading="lazy"
            class="block object-cover object-center w-full h-full border-gray-200 rounded-fullborder-2">
          {% else %}
          <img class="w-16 h-16 mr-2 border border-black rounded-full" src="/static/image/cathead.png" alt="photo">
          {% endif %}
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <span class="text-xl font-semibold">{{ member.name }} </span>
          </div>
          <div class="text-gray-600">{{ member.username }}</div>
        </div>
      </div>
    </div>
    <div class="mb-6">
      <div class="flex items-center mb-2">
        <h3 class="text-2xl font-semibold">個人資料</h3>
        <a href="{% url 'members:edit' pk=member.pk %}"
          class="px-2 py-1 ml-4 text-base text-white rounded-md btn-system-color hover:bg-sky-400">修改</a>
      </div>
      <div class="p-5 mt-3 bg-gray-100 rounded-lg">
        <div class="mb-4">
          <p class="text-[20px] font-medium">暱稱：</p>
          <div class="flex items-center space-x-2">
            <p class="text-gray-600 ">{{ member.name }}</p>
          </div>
        </div>
        <div class="mb-4">
          <p class="text-[20px] font-medium">帳號：</p>
          <p class="text-gray-600">{{ member.username }}</p>
        </div>
        <div class="mb-4">
          <p class="text-[20px] font-medium">信箱</p>
          <p class="text-gray-600">{{ member.email }}</p>
        </div>
        <div class="mb-4">
          <p class="text-[20px] font-medium">生日：</p>
          <p class="text-gray-600">{{ member.birthday }}</p>
        </div>
        <div class="mb-4">
          <p class="text-[20px] font-medium">興趣：</p>
          <p class="text-gray-600">{{ member.interest }}</p>
        </div>
        <div class="mb-4">
          <p class="text-[20px] font-medium">星座</p>
          <p class="text-gray-600">{{ member.constellation }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}