{% extends 'layouts/base.html' %}
{% block content %}
<div class="my-8">
    {% if member.user_img %}
    <img src="{{ member.user_img.url }}" alt="photo" class="w-48 border border-gray-200">
    {% else %}
    <p>無照片顯示</p>
    {% endif %}
    <p class="mt-4">姓名： {{ member.name }} </p>
    <p>帳號： {{ member.username }} </p>
    <p>信箱： {{ member.email }} </p>
</div>
<div>
    <a href="{% url 'members:edit' pk=member.pk %}">
        <button class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">編輯</button>
    </a>
</div>
{% endblock %}