{% extends 'layouts/base.html' %}
{% block content %}
<div class="flex items-center justify-center text-black register-container flex-1">
  <div class="flex p-5 flex-col lg:w-[784px] m-auto border-2 border-gray-300">
    <h1 class="mt-4 text-3xl text-center">Welcome to Diswork</h1>
    <p class="mt-1 text-center">Discuss your Everything!</p>
    <div class="w-full">
      <form action="{% url 'members:register' %}" method="post">
        {% csrf_token %}
        <div class="w-9/12 mx-auto mt-3">
          <label for="name">暱稱:
            {{form.name}}
            {{form.name.errors}}
        </div>
        <div class="w-9/12 mx-auto mt-3">
          <label class="" for="username">帳號:</label>
          {{form.username}}
          {{form.username.errors}}
        </div>
        <div class="w-9/12 mx-auto mt-3">
          <label class="" for="email">信箱:</label>
          {{form.email}}
          {{form.email.errors}}
        </div>
        <div class="w-9/12 mx-auto mt-3">
          <label class="" for="password1">密碼:</label>
          {{form.password1}}
          {{form.password1.errors}}
        </div>
        <div class="w-9/12 mx-auto mt-3">
          <label class="" for="password2">確認密碼:</label>
          {{form.password2}}
          {{form.password2.errors}}
        </div>
        <div class="flex mt-4 justify-evenly">
          <button
            class="px-6 py-2 font-bold bg-orange-500 rounded shadow hover:bg-amber-700 focus:outline-none">註冊</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}