{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="px-10 font-sans bg-gray-100">
	<header class="pt-4">
		<h1 class="mt-2 text-2xl font-bold text-left border-b-2">關於Diswork</h1>
	</header>

	<div class="container py-6 mx-auto">
		<section class="mb-12">
			<p class="text-lg text-gray-700">我們提供一個線上討論平台，讓大家隨時討論，盡情聊！</p>
		</section>

		<section class="mb-12">
			<div class="flex flex-col items-center mb-4 sm:flex-row">
				<h2 class="text-2xl font-semibold">團隊成員</h2>
				<p class="pt-1 text-sm text-gray-500 sm:ml-4 sm:mt-0">四位來自不同背景的人，共同努力追求成為工程師的目標。</p>
			</div>
			<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
				<div class="p-6 text-center rounded-lg ">
					<img src="{% static 'image/Fiona.jpg' %}" alt="開發人員1" class="w-32 h-32 mx-auto mb-4 rounded-full">
					<h3 class="text-xl font-semibold ">劉芳潔</h3>
					<p class="text-sm text-gray-500">市場調查督導</p>
					<a href="https://github.com/chiehhhaa">
						<p class="text-gray-700 mt-2  hover:text-[#3397cf]"><i class="fab fa-github"></i> chiehhhaa</p>
					</a>
				</div>
				<div class="py-6 mx-2 text-center rounded-lg ">
					<img src="{% static 'image/Jeter.png' %}" alt="開發人員2" class="w-32 h-32 mx-auto mb-4 rounded-full">
					<h3 class="text-xl font-semibold ">陳冠宇</h3>
					<p class="text-sm text-gray-500">PHP助理工程師</p>
					<a href="https://github.com/dali1756">
						<p class="text-gray-700 mt-2   hover:text-[#3397cf]"><i class="fab fa-github"></i> dali1756</p>
					</a>

				</div>
				<div class="p-6 text-center rounded-lg ">
					<img src="{% static 'image/Stephen.jpg' %}" alt="開發人員3" class="w-32 h-32 mx-auto mb-4 rounded-full">
					<h3 class="text-xl font-semibold">陳志誠</h3>
					<p class="text-sm text-gray-500">餐廳合夥人</p>
					<a href="https://github.com/chenstephen0501">
						<p class="text-gray-700 mt-2   hover:text-[#3397cf]"><i class="fab fa-github"></i>
							chenstephen0501</p>
					</a>
				</div>
				<div class="p-6 text-center rounded-lg ">
					<img src="{% static 'image/Leo.jpg' %}" alt="開發人員4" class="w-32 h-32 mx-auto mb-4 rounded-full">
					<h3 class="text-xl font-semibold">巫爾均</h3>
					<p class="text-sm text-gray-500">前端助理工程師</p>
					<a href="https://github.com/Bunny1780">
						<p class="text-gray-700 mt-2   hover:text-[#3397cf]"><i class="fab fa-github"></i> Bunny1780</p>
					</a>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}