{% extends 'pages/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'styles/loading.css' %}">
<script src="{% static 'scripts/payment_loading.js' %}" defer></script>
{% endblock %}


{% block content %}
<section class="flex flex-col-reverse relative h-screen px-6 bg-[#f3f4f6] md:px-12 overflow-hidden">
  <div class="w-full min-w-[768px] absolute -bottom-[8%] left-1/2 -translate-x-1/2">
    <img src="{% static 'image/banner2.png' %}" alt="" class="block w-full">
  </div>
  <div class="flex flex-col-reverse w-full items-center absolute top-1/2 md:top-[40%] left-1/2 -translate-y-1/2 -translate-x-1/2">

    <div class="flex flex-col md:flex-row items-center w-full max-w-xl mt-10 md:mt-15 text-center gap-8">
      {% if user.is_authenticated %}
      <div class="w-1/2 items-center bg-[#292929] rounded-lg">
        <a href="{% url 'boards:list' %}" class="block w-full py-3 text-sm md:text-base text-white">進入討論版</a>
      </div>
      <div class="w-1/2 items-center bg-[#FE952A] rounded-lg">
        {% if member_status == 1 %}
        <div class="w-full bg-gray-300 rounded-lg">
          <p class="block w-full py-3 text-black">已訂閱</p>
        </div>
        {% else %}
        <form id="pay-form1" action="{% url 'paies:create_order' %}" method="POST">
          {% csrf_token %}
          <button type="submit" id="saveButton1" class="saveButton block w-full py-3 text-sm md:text-base text-white">訂閱我們
          </button>
        </form>
        {% endif %}
      </div>
      {% else %}
      <div class="w-1/2 items-center bg-[#292929] rounded-lg">
        <a href="{% url 'members:register' %}" class="block w-full py-3 text-sm md:text-base text-white">註冊加入DISWORK</a>
      </div>
      <div class="w-1/2 items-center bg-[#FE952A] rounded-lg">
        <a href="{% url 'members:login' %}" class="block w-full py-3 text-sm md:text-base text-white">登入使用DISWORK</a>
      </div>
      {% endif %}
    </div>

    <div class="mt-8 text-xs md:text-2xl" style="letter-spacing: 5px;">DISCUSS YOUR EVERYTHING</div>

    <div class="w-4/5 md:w-full max-w-[440px]" style="aspect-ratio: 48 / 19;">
      <img src="{% static 'image/logo.png' %}" alt="Discord Hero" class="w-full h-full" style="object-fit: cover;" />
    </div>
  </div>
</section>
<section class="px-6 py-20 text-[#f3f4f6] bg-[#01314D] md:px-12">
  <div class="flex flex-col items-center justify-between max-w-screen-lg mx-auto md:flex-row">
    <img src="{% static 'image/boards.webp' %}" width="600" height="400" alt="Discord Voice"
      class="mb-8 md:mb-0 md:mr-12" style="aspect-ratio: 600 / 400; object-fit: cover;" />
    <div class="max-w-md space-y-6">
      <h2 class="text-3xl font-bold">多元主題討論版</h2>
      <p class="text-lg">
        多元討論主題讓你有問題不煩惱，快來和版友們一起找答案！
      </p>
      <a href="{% url 'boards:list' %}">
        <button
          class="inline-flex items-center px-4 py-3 mt-4 text-lg font-bold text-white bg-[#3397cf] border  rounded-lg hover:bg-sky-400 hover:text-white">
          加入討論
        </button>
      </a>
    </div>
  </div>
</section>
<section class="flex flex-col items-center justify-between px-6 py-20 text-[#292929] bg-[#f3f4f6] md:px-12 md:flex-row">
  <div class="flex flex-col items-center justify-between max-w-screen-lg mx-auto md:flex-row">
    <div class="max-w-md space-y-6">
      <h2 class="text-3xl font-bold">專屬活動日曆</h2>
      <p class="text-lg">
        各個討論版都擁有專屬的活動日曆，讓你與版友有機會在線上交流的同時，也能有面對面的相聚機會！
      </p>
    </div>
    <img src="{% static 'image/category.webp' %}" width="600" height="400" alt="Discord Voice"
      class="mb-8 md:mb-0 md:mr-12" style="aspect-ratio: 600 / 400; object-fit: cover;" />
  </div>
</section>
<section class="flex flex-col items-center justify-between px-6 py-20 bg-[#01314D] md:px-12 md:flex-row">
  <div class="w-4/5 mx-auto">
    <div class="flex justify-center mb-8">
      <h2 class="text-3xl font-bold text-[#f3f4f6]">邀請你成為Diswork版主</h2>
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <div class="flex flex-col w-full items-center justify-between px-6 py-5 bg-[#006AA6] rounded-lg">
        <div class="w-full">
          <h3 class="pb-4 text-3xl text-white">Free</h3>
          <p class="mt-4 text-xl text-white">🐱 探索多元討論看版</p>
          <p class="mt-4 text-xl text-white">🐱 盡情發文/留言</p>
          <p class="mt-4 text-xl text-white">🐱 每日抽卡加好友</p>
        </div>
      </div>
      <div class="flex flex-col w-full items-center justify-between px-6 py-5 bg-[#006AA6] rounded-lg">
        <div class="w-full">
          <h3 class="pb-4 text-3xl text-white">Premium</h3>
          <p class="mt-4 text-xl text-white">🐱 新增各式討論看版</p>
          <p class="mt-4 text-xl text-white">🐱 管理看版中活動日曆</p>
          <p class="mt-4 text-xl text-white">🐱 每日抽卡加好友</p>
        </div>
        <div class="flex-grow"></div>
        {% if user.is_authenticated %}
          {% if member_status == 1 %}
          <a class="inline-block w-full h-12 px-4 mt-6 text-2xl font-bold leading-loose text-center text-white bg-orange-400 rounded-lg hover:bg-orange-500"
            disabled>已訂閱</a>
          {% else %}
          <form class="pay-form" id="pay-form2" action="{% url 'paies:create_order' %}" method="POST">
            {% csrf_token %}
            <button type="submit" id="saveButton2"
              class="saveButton inline-block w-full h-12 px-4 mt-6 text-2xl font-bold leading-loose text-center text-white bg-orange-400 rounded-lg hover:bg-orange-500">
              訂閱
            </button>
          </form>
          {% endif %}
        {% else %}
        <form action="{% url 'members:login' %}" method="POST">
          {% csrf_token %}
          <button type="submit"
            class="inline-block w-full h-12 px-4 mt-6 text-2xl font-bold leading-loose text-center text-white bg-orange-400 rounded-lg hover:bg-orange-500">
            訂閱
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="px-6 py-20 text-[#292929] bg-[#f3f4f6] md:px-12">
  <div class="flex flex-col-reverse items-center max-w-screen-lg mx-auto md:flex-row">
    <img class="rounded-md object-cover w-full md:w-1/2" src="{% static 'image/CRUD Team.jpg' %}" alt="Discord Voice" style="aspect-ratio: 6 / 4" />
    <div class="flex flex-col flex-1 items-center md:items-start justify-center mb-5 md:mb-0 md:ml-12 gap-3">
      <h2 class="text-3xl font-bold text-center md:text-left">開發小隊 — CRUD Team</h2>
      <a href="{% url 'aboutus' %}" class="py-2 px-4 text-lg font-bold text-gray-800 bg-gray-200 rounded-md hover:bg-[#FE952A] hover:text-white">認識我們</a>
    </div>
  </div>
</section>
<div id="loading-overlay" class="fixed top-0 left-0 z-50 hidden w-full h-full bg-black opacity-50"></div>
<div id="loading-spinner" class="absolute z-50 hidden transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
  <div class="loader"></div>
</div>

{% endblock %}