{% for comment in comments %}
<div class="w-full pt-5 pb-4 mx-auto bg-white border-b-1">
  <div class="py-2">
    <div class="flex items-start">
      <div class="mt-1">
        {% if comment.member.user_img %}
        <img class="w-8 h-8 rounded-full" src="{{ comment.member.user_img.url }}" alt="photo">
        {% else %}
        <img class="w-8 h-8 border border-black rounded-full" src="/static/image/cathead.png" alt="photo">
        {% endif %}
      </div>
      <div class="flex-1 ml-2">
        <div class="flex items-center justify-between">
          <p class="inline text-sm font-bold">{{ comment.member }}</p>
          <div class="flex items-center">
            {% include 'articles/shared/like_comment_btn.html' %}
          </div>
        </div>
        <div class="w-full my-1 comment">
          <p class="break-words">{{ comment.content|linebreaksbr }}</p>
        </div>
        <div>
          <p class="text-sm text-gray-400">{{ comment.created_at|date:"Y-m-d H:i" }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-end pb-2">
    {% if comment.member.id == user.id %}
    <form action="{% url 'comments:delete' pk=comment.id %}" method="post" class="inline">
      {% csrf_token %}
      <button type="submit" class="px-2 py-1 text-white bg-red-500 rounded">刪除</button>
    </form>
    {% endif %}
  </div>
</div>
{% empty %}
<p class="text-gray-500">尚無留言</p>
{% endfor %}