{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>


    <title>{% block title %} Diswork {% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% include 'shared/message.html' %}
    {% include 'boards/navbar.html' %}
    {% include 'shared/news.html' %}
    <main style="min-height: calc(100vh - 173.36px);">
        {% block content %}
        {% endblock %}
    </main>
    {% include "shared/footer.html" %}
</body>

</html>