{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/category.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <!-- Alpine.js -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Google Fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'scripts/script.js' %}" defer></script>


    <title>{% block title %} Diswork {% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% include 'shared/message.html' %}
    {% include 'boards/navbar.html' %}
    <div class="flex flex-col h-screen pt-14 bg-slate-800">

        <div class="relative flex overflow-hidden ">
            {% include 'shared/boards_aside_list.html' %}
            <div class="md:hidden w-[30px] aspect-square bg-blue-300 mt-3 ml-3 absolute"></div>
            <main class="flex-1 w-full h-full overflow-y-scroll border-green-700 border-5 p-5">
                <div class="min-h-full bg-white rounded-md">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
            {% include 'shared/boards_aside_func.html' %}
        </div>
    </div>
</body>

</html>