{% extends 'boards/base.html' %}
{% block title %}討論板{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="w-full p-8 lg:w-2/3 xl:w-1/2">
        <h1 class="mb-4 text-2xl font-bold text-orange-500">新增看板</h1>
        <form action="{% url 'boards:board_add' %}" method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="新增" class="px-4 py-2 text-white bg-orange-500 rounded hover:bg-orange-600">
        </form>
    </div>
</div>
{% endblock %}