{% extends 'boards/base.html' %}
{% load static %}

{% block aside %}
{% include 'shared/board_aside.html' %}
{% endblock %}

{% block content %}
<div class="px-4 md:px-8">
  <div class="sticky top-0 flex items-center justify-between py-3 bg-white border-b-2">
    <p class="text-lg font-medium">所有看板</p>
  </div>
  {% for category in category_list %}
  <div class="flex items-center justify-between w-full">
    <a class="flex items-center flex-1 py-2 my-2 overflow-hidden forum_list md:flex-row"
      href="{% url 'articles:index' category.id %}">
      <div class="w-12 overflow-hidden rounded-full aspect-square forum_list_pic">
        {% if category.picture %}
        <img src="{{ category.picture.url }}" class="object-cover w-full h-full">
        {% else %}
        <img src="{% static 'image/defaultImage.jpg' %}" alt="" class="object-cover w-full h-full">
        {% endif %}
      </div>

      <div class="flex items-center justify-between flex-1 category_card">
        <div class="flex-1 ml-5 text-lg font-medium list-title">
          {{ category.title }}
        </div>
        <span class="text-sm text-gray-500">版主：{{ category.member }}</span>
      </div>
    </a>
    <div class="ml-4">
      {% if user.member_status == "1" and category.member.id == user.id %}
      <a href="{% url 'boards:edit' pk=category.pk %}">
        <button class="px-2 py-1 text-gray-500 bg-gray-200 rounded hover:bg-gray-300">編輯</button>
      </a>
      {% else %}
      <a href="{% url 'articles:index' category.id %}">
        <button class="px-2 py-1 text-gray-500 bg-gray-200 rounded hover:bg-gray-300">進入看版</button>
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}