{% extends 'boards/base.html' %}

{% block content %}
<div class="flex justify-center">
    <div class="w-full p-8 lg:w-2/3 xl:w-1/2">
        <h2 class="mb-4 text-2xl font-bold">確定要刪除嗎？</h2>
        <form method="post" action="{% url 'boards:delete' pk=category.pk %}" class="space-y-4">
            {% csrf_token %}
            <button type="submit" class="px-4 py-3 text-white bg-red-500 rounded hover:bg-red-600">確定</button>
            <button type="button" onclick="window.location.href='{% url 'boards:list' %}'"
                class="px-4 py-3 text-white bg-blue-500 rounded hover:bg-blue-600">取消</button>
        </form>
    </div>
</div>
{% endblock %}