{% extends 'boards/base.html' %}
{% load static %}
{% block header %}
<script src="{% static 'scripts/picture.js' %}" defer></script>
{% endblock %}
{% block content %}
<div class="flex justify-center">
  <div class="w-full p-8 lg:w-2/3 xl:w-1/2">
    <a href="{% url 'boards:list' %}" class="text-orange-500 hover:text-orange-600">
      <h1 class="mb-4 text-2xl font-bold">編輯看版</h1>
    </a>
    <form action="{% url 'boards:edit' category.pk %}" method="post" enctype="multipart/form-data" class="space-y-4 ">
      {% csrf_token %}
      <div>
        <label for="picture" class="mb-1 text-lg font-medium">看版圖片：</label>
        <div id="preview-container" style="height: 150px; width: 380px;">
          {% if category.picture %}
          <img id="preview" src="{{ category.picture.url }}" class="object-cover w-full h-full" style="display: block;">
          {% else %}
          <p id="preview-text" style="display: block;">無照片顯示</p>
          {% endif %}
        </div>
        <input type="file" id="picture" name="picture" accept="image/*" class="border-solid">
      </div>
      <div class="mb-4">
        <label for="title" class="mb-1 text-lg font-medium">看版</label>
        {{ form.title }}
      </div>
      <div class="mb-4">
        <label for="title" class="mb-1 text-lg font-medium">版主</label>
        {{ form.member }}
      </div>
      <div class="mb-4">
        <label for="title" class="mb-1 text-lg font-medium">版規</label>
        {{ form.rule }}
      </div>
      <div class="mb-4">
        <label for="status" class="mb-1 text-lg font-medium">看版狀態</label>
        {{ form.status }}
      </div>
      <input type="submit" value="儲存編輯" class="px-4 py-2 text-white bg-orange-500 rounded hover:bg-orange-600">
    </form>
  </div>
</div>
{% endblock %}