{% extends 'boards/base.html' %}
{% block title %}討論板{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="w-full p-8 lg:w-2/3 xl:w-1/2">
        <a href="{% url 'boards:list' %}" class="text-orange-500 hover:text-orange-600">
            <h1 class="mb-4 text-2xl font-bold">編輯看板</h1>
        </a>
        <form action="{% url 'boards:edit' category.pk %}" method="post" enctype="multipart/form-data"
            class="space-y-4 ">
            {% csrf_token %}
            <div>
                <label for="picture" class="mb-1 text-lg font-medium">看板圖片：</label>
                {% if category.picture %}
                <div class="overflow-hidden border border-gray-300 rounded-lg" style="height: 150px; width: 380px;">
                    <img src="{{ category.picture.url }}" class="object-cover w-full h-full lazyloaded">
                </div>
                {% else %}
                <div class="border-gray-500" style="height: 150px; width: 380px;">
                    <p>無照片顯示</p>
                </div>
                {% endif %}
                <input type="file" id="picture" name="picture" accept="image/*" class="border-solid">
            </div>
            <div class="mb-4">
                <label for="title" class="mb-1 text-lg font-medium">看板</label>
                {{ form.title }}
            </div>
            <div class="mb-4">
                <label for="title" class="mb-1 text-lg font-medium">板規</label>
                {{ form.rule }}
            </div>
            <div class="mb-4">
                <label for="status" class="mb-1 text-lg font-medium">看板狀態</label>
                {{ form.status }}
            </div>
            <input type="submit" value="儲存編輯" class="px-4 py-2 text-white bg-orange-500 rounded hover:bg-orange-600">
        </form>
    </div>
</div>
{% endblock %}