<nav
  class="absolute top-0 flex flex-col w-full pl-6 pr-2 py-1 font-sans text-center text-white bg-[#006AA6] shadow sm:flex-row sm:text-left sm:justify-between sm:items-baseline z-[999]">
  <div class="flex items-center justify-between w-full">
    <div class="flex items-center">
      <a href="{% url 'root' %}">
        <img class="w-32 h-auto" src="/static/image/logo_2.png" alt="logo">
      </a>
    </div>
    <div class="flex items-center ml-auto space-x-4">
      <div class="relative flex items-center" x-data="{ open: false }">
        {% if user.is_authenticated %}
        <div class="relative">
          <a href="{% url 'notifications:list' %}">
            <span class="relative pt-[4px] mr-2 material-symbols-outlined" style="font-size: 40px;">
              notifications
              {% if unread_count > 0 %}
              <span
                class="absolute top-0 right-0 flex items-center justify-center w-5 h-5 text-xs font-bold text-white bg-red-600 rounded-full"
                style="font-family: 'Roboto', sans-serif;">
                {{ unread_count }}
              </span>
              {% endif %}
            </span>
          </a>
        </div>
        <a href="{% url 'friends:draw_card' %}">
          <span class="material-symbols-outlined mr-2" style="font-size: 36px;">playing_cards</span>
        </a>
        <div class="relative">
          <button class="flex items-center focus:outline-none" @click="open = !open" @click.away="open = false"
            aria-expanded="false" aria-haspopup="true">
            {% if user.user_img %}
            <img class="w-12 h-12 transition duration-300 border-2 border-gray-200 rounded-full object-cover"
              src="{{ user.user_img.url }}" alt="photo">
            {% else %}
            <span class="material-symbols-outlined" style="font-size: 45px;">account_circle</span>
            {% endif %}
            <span class="material-symbols-outlined"
              style="font-size: 28px; padding: 0; margin-left: 2px;">arrow_drop_down</span>
          </button>
        </div>

        <div x-show="open" class="absolute right-0 w-48 py-2 mt-2 bg-white rounded-md shadow-lg top-12 dark:bg-gray-800"
          @click.away="open = false">
          <a href="{% url 'chats:index' %}"
            class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600 hidden">訊息
          </a>
          <a href="{% url 'friends:friend_list' %}"
            class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600">好友</a>
          <a href="{% url 'members:profile' pk=user.id %}"
            class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600">個人資料</a>
          {% if user.is_superuser == True %}
          <a href="{% url 'ads:list' %}"
            class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600">廣告管理</a>
          {% endif %}
          <a href="{% url 'members:logout' %}"
            class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600">登出</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>