{% extends 'boards/base.html' %}
{% block title %}討論板{% endblock %}

{% block content %}
<div class="flex justify-center mt-2">
  <div class="w-full p-8 lg:w-2/3 xl:w-1/2">
    <h1 class="mb-4 text-2xl font-bold text-orange-500">新增看板</h1>
    <form action="{% url 'boards:add' %}" method="post" enctype="multipart/form-data" class="space-y-4">
      {% csrf_token %}
      <div>
        <label for="picture" class="mb-1 text-lg font-medium">看版圖片：</label>
        <input type="file" id="picture" name="picture" accept="image/*" class="border-solid">
      </div>
      <div class="mb-4">
        <label for="title" class="mb-1 text-lg font-medium">看版</label>
        {{ form.title }}
      </div>
      <div class="mb-4">
        <label for="title" class="mb-1 text-lg font-medium">版主</label>
        {{ form.member }}
      </div>
      <div class="mb-4">
        <label for="rule" class="mb-1 text-lg font-medium">版規</label>
        {{ form.rule }}
      </div>
      <div class="mb-4">
        <label for="status" class="mb-1 text-lg font-medium">看板狀態</label>
        {{ form.status }}
      </div>
      <input type="submit" value="新增" class="px-4 py-2 text-white bg-orange-500 rounded hover:bg-orange-600">
    </form>
  </div>
</div>
{% endblock %}