{% extends 'boards/base.html' %}
{% block content %}
<div class="relative block w-full h-screen overflow-hidden bg-opacity-60">
  <div class="w-[700px] h-full bg-white mx-auto flex flex-col">
    <div class="sticky top-0 w-full h-6 my-2 ml-4">
      <h4 class="text-lg font-bold text-gray-800">{{ article.category.title }}</h4>
    </div>
    <div class="flex-1 overflow-scroll">
      <div class="px-4 py-2 space-y-2">
        <h1 class="text-2xl font-bold text-gray-800">{{ article.title }}</h1>
        <div class="flex items-center space-x-2">
          <p class="text-sm text-gray-600">樓主：{{ article.author }}</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
            <path d="M8 2v4"></path>
            <path d="M16 2v4"></path>
            <rect width="18" height="18" x="3" y="4" rx="2"></rect>
            <path d="M3 10h18"></path>
          </svg>
          <span class="text-sm text-gray-600">{{ article.created_at }}</span>
          {% if user.is_authenticated %}
          {% if user == article.author %}
          <a href="{% url 'articles:edit' article.id %}">
            <button class="text-sm text-gray-400 hover:text-gray-600">編輯</button>
          </a>
          <form action="{% url 'articles:delete' article.id %}" method="post">
            {% csrf_token %}
            <button class="text-sm text-gray-400 hover:text-gray-600" type="submit">刪除</button>
          </form>
          {% endif %}
          {% endif %}
        </div>
        <div class="mt-4 prose prose-gray dark:prose-invert">
          <p class="whitespace-pre-line">
            {{ article.content }}
            {% if article.picture %}
            <img src="{{ article.picture.url }}" alt="photo" loading="lazy"
              class="w-[600px] h-[450px] block object-cover object-center border-gray-200">
            {% endif %}
          </p>
        </div>
        <div class="container flex items-end md:py-2 lg:py-1">
          <div class="ml-auto">
            {% include 'articles/shared/like_button.html' %}
          </div>
        </div>
        {% for comment in comments %}
        <div class="w-full mx-auto mb-2 bg-white rounded-lg shadow-md">
          <div class="px-4 py-2">
            <div class="flex items-center">
              {% if comment.member.user_img %}
              <img class="w-10 h-10 mr-2 rounded-full" src="{{ comment.member.user_img.url }}" alt="photo">
              {% else %}
              <img class="w-10 h-10 mr-2 border border-black rounded-full" src="/static/image/cathead.png" alt="photo">
              {% endif %}
              <div>
                <p class="inline">{{ comment.member.name }}</p>
                <p class="inline text-sm">{{ comment.member }}</p>
                <p class="text-sm text-gray-400">{{ comment.created_at|date:"Y-m-d H:i" }}</p>
              </div>
            </div>
            <div class="mt-2">
              <p>{{ comment.content|linebreaksbr }}</p>
            </div>
          </div>
          <div class="flex justify-end pb-2 pr-4">
            {% include 'articles/shared/like_comment_btn.html' %}
            {% if comment.member.id == user.id %}
            <form action="{% url 'comments:delete' pk=comment.id %}" method="post" class="inline">
              {% csrf_token %}
              <button type="submit" class="px-2 py-1 text-white bg-red-500 rounded">刪除</button>
            </form>
            {% endif %}
          </div>
        </div>
        {% empty %}
        <p class="text-gray-500">尚無留言</p>
        {% endfor %}
      </div>
    </div>
    <div class="sticky bottom-0">
      <form method="post" action="{% url 'articles:comment' pk=article.pk %}" class="px-2">
        {% csrf_token %}
        {{ comment_form.content }}
        {{ comment_form.member }}
        <div class="flex justify-end">
          <button type="submit" class="px-2 text-sm text-gray-400 rounded-md hover:underline">
            送出
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}