{% extends 'layouts/base.html' %}

{% block content %}
<div class="flex min-h-screen flex-col items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8 dark:bg-gray-900">
    <div class="w-full max-w-2xl space-y-8">
        <div>
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100">
            更新文章
            </h2>
        </div>
        <form class="space-y-6" action="{% url 'articles:show' article.id %}" method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <button class="border border-black py-3 px-3" type="submit" value="更新">更新
            </button>
        </form>
    </div>
</div>
{% endblock %}