{% extends 'layouts/base.html' %}

{% block content %}
    <h1 class="text-3xl my-2">文章列表</h1>
    <a href="{% url 'articles:new' %}" class="inline-flex items-center justify-center whitespace-nowrap font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 w-10 rounded-full">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-5 h-5"
        >
            <path d="M5 12h14"></path>
            <path d="M12 5v14"></path>
        </svg>
    </a>

    <main class="flex flex-col p-4 md:p-6">
        {% for article in article_list %}
            <article class="w-full overflow-hidden shadow-lg bg-white dark:bg-gray-950 mb-3">
                <a class="block p-4 text-xl font-bold" href="{% url 'articles:show' article.id %}">{{ article.title }}</a>
            </article>
        {% endfor %}
    </main>

{% endblock %}