{% extends 'boards/base.html' %}

{% load static %}

{% block content %}
<div class="w-full aspect-16-4">
  {% if category.picture %}
  <img class="block object-cover w-full h-full" src="{{ category.picture.url }}" class="object-cover w-full h-full">
  {% else %}
  <img src="{% static 'image/defaultImage.jpg' %}" alt="" class="object-cover w-full h-full">
  {% endif %}
</div>
<div class="px-4 md:px-8">
  <div class="sticky top-0 flex flex-col items-start justify-between pt-3 bg-white border-b-1">
    <div class="flex items-center justify-between w-full my-3">
      <div class="flex items-center">
        {% if category.picture %}
        <img class="block object-cover w-12 h-12 rounded-full" src="{{ category.picture.url }}"
          class="object-cover w-full h-full">
        {% else %}
        <img src="{% static 'image/defaultImage.jpg' %}" alt="" class="object-cover w-12 h-12 rounded-full">
        {% endif %}
        <h1 class="ml-3 text-2xl">{{ category.title }}</h1>
      </div>
      <a href="{% url 'articles:new' category.id  %}"
        class="flex items-center justify-center w-8 h-8 rounded-md btn-system-color">
        <span class="text-white material-symbols-outlined">edit</span>
      </a>
    </div>
    <div x-data="{ activeBtn : '熱門' }" class="flex">
      <button class="article-filter-btn" :class="{ 'active': activeBtn === '熱門'}" @click="activeBtn = '熱門'">熱門</button>
      <button class="article-filter-btn" :class="{ 'active': activeBtn === '最新'}" @click="activeBtn = '最新'">最新</button>
    </div>
  </div>
  <div class="flex flex-col w-full py-4 mx-auto">
    {% for article in article_list %}
    <div class="w-full mb-4 overflow-hidden bg-white border-gray-500">
      <div class="flex flex-col justify-between">
        <a href="{% url 'articles:show' article.id %}" class="flex items-center w-full pb-5 border-b-1">

          <div class="flex flex-col justify-between flex-1 pr-3 overflow-hidden">
            <div class="text-lg font-semibold forum_list_title">
              <div class="text-lg text-black list-title">
                {{ article.title }}
              </div>
            </div>
            <div class="my-2 text-sm text-gray-600 list-content">
              {{ article.content }}
            </div>
            <div class="inline-flex w-full gap-3 text-sm">
              <p>留言: {{article.comment_count}}</p>
              <p>讚數: {{article.like_count}}</p>
            </div>
          </div>
          {% if article.picture %}
          <div class="w-[70px] md:w-[84px] ml-4 md:ml-6">
            <div class="w-full overflow-hidden rounded-lg aspect-square">
              <img src="{{ article.picture.url }}" alt="{{ article.title }}" class="object-cover w-full h-full">
            </div>
          </div>
          {% endif %}
        </a>
      </div>

    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}