{% extends 'boards/base.html' %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'styles/loading.css' %}">
<script src="{% static 'scripts/loading.js' %}" defer></script>
<script src="{% static 'scripts/picture.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="relative block max-w-2xl p-2 mx-auto rounded-md">
  <div class="flex flex-col w-full mt-2">
    <h1 class="inline-block pb-2 text-2xl border-b-2 border-black">編輯中</h1>
    <div class="flex flex-col p-4 bg-white rounded-lg">
      <form id="editForm" action="{% url 'ads:update' ads.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-wrap items-center mb-4">
          <label class="block mr-2 text-sm font-medium text-gray-700">廣告商</label>
          {{ form.title }}
        </div>
        <div class="flex flex-wrap items-center mb-4">
          <label for="id_url" class="block mr-2 text-sm font-medium text-gray-700">網址</label>
          {{ form.url }}
        </div>
        <div>
          <label for="id_picture" class="block mr-2 text-sm font-medium text-gray-700">看版圖片：</label>
          <div id="preview-container" style="height: 256px; width: 300px;">
            {% if ads.picture %}
            <img id="preview" src="{{ ads.picture.url }}" class="object-cover w-full h-full" style="display: block;">
            {% else %}
            <p id="preview-text" style="display: block;">無照片顯示</p>
            {% endif %}
          </div>
          <input type="file" id="id_picture" name="picture" accept="image/*"
            class="block w-full text-sm text-slate-500 file:mt-2 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-gray-400 file:text-white hover:file:bg-[#3397cf]">
        </div>
        <div class="flex justify-end mt-2 space-x-4">
          <a href="{% url 'ads:list' %}">
            <button type="button"
              class="inline-flex items-center justify-center py-2 text-base text-gray-500 rounded-md hover:text-gray-300">取消</button>
          </a>
          <button id="saveButton" type="submit"
            class="px-2 py-2 text-base text-white bg-[#3397cf] rounded hover:bg-sky-300 focus:outline-none focus:shadow-outline">儲存</button>
        </div>
    </div>
    </form>
  </div>
</div>

<div id="loading-overlay" class="fixed top-0 left-0 z-50 hidden w-full h-full bg-black opacity-50"></div>
<div id="loading-spinner" class="absolute z-50 hidden transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
  <div class="loader"></div>
</div>
{% endblock %}