{% extends 'boards/base.html' %}
{% block content %}
{% include 'friends/navbar.html' %}
<div class="flex items-center justify-center w-full ">
	<div class="w-full overflow-hidden bg-white rounded-md">
		<div class="flex items-center justify-between px-4 py-2 font-normal text-black border-b border-gray-300">
			<div class="flex items-center">
				{% if user.user_img %}
					<img src="{{ user.user_img.url }}" alt="" class="w-12 h-12 mr-2 rounded-full">
				{% else %}	
					<img src="https://via.placeholder.com/32" alt="Profile Picture" class="w-12 h-12 mr-2 rounded-full">
				{% endif %}
				<div>
					<h2 class="text-lg">{{ user.name }}</h2>
					<p class="text-sm text-gray-500">{{ user.username }}</p>
				</div>
			</div>
			<div x-data="{ showDropdown: false }">
				<button @click="showDropdown = !showDropdown" class="focus:outline-none">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
						stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
					</svg>
				</button>
				<div x-show="showDropdown" @click.away="showDropdown = false"
					class="absolute py-2 mt-2 bg-white rounded-md shadow-md">
					<a href="#"
						class="inline-block px-2 py-1 text-sm font-light text-red-600 hover:text-red-800">刪除好友</a>
				</div>
			</div>
		</div>
		<div id="chat-log" class="flex flex-col p-4 border-t border-b border-gray-300">
			{% for message in private_messages %}
			<div class="mt-3 p-4 flex border-b-2 border-gray-200 rounded-md bg-white ">
        		{% if message.sender.id == user.id %}
				<div class="pic">
				{% if message.sender.user_img %}
        	    	<img src="{{ message.sender.user_img.url }}" alt="photo" class="w-12 h-12 border border-gray-200 rounded-full">
				{% else %}
					<img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
				{% endif %}
				</div>
				<div class="content ml-2">
					<p class="text-xl">{{message.sender}} <span class="text-xs">{{message.created_at|date:"Y-m-d H:i"}}</span></p>
					<p>{{message.content}}</p>								
				</div>
        		{% else %}
				<div class="pic">
				{% if message.sender.user_img %}
        			<img src="{{ message.sender.user_img.url }}" alt="photo" class="w-12 h-12 border border-gray-200 rounded-full">
				{% else %}
					<img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
				{% endif %}
				</div>
				<div class="content ml-2 ">
					<p class="text-xl">{{message.sender}} <span class="text-xs">{{message.created_at|date:"Y-m-d H:i"}}</span></p>
					<p>{{message.content}}</p>								
				</div>
				{% endif %}
        	</div>
        	{% endfor %}
		</div>
		<div class="flex h-20 p-4">
			<div class="hidden" id="chat-message-user" data-user-id="{{ user.id }}" data-user-name="{{ user.username }}" data-user-img="{{ user.user_img.url }}"></div>
			<input id="chat-message-input" type="text" placeholder="輸入訊息..."
				class="flex-1 px-2 rounded-md focus:outline-none">
			<button id="chat-message-submit"
				class="bg-[#3397cf] text-white font-light px-4 rounded-md hover:bg-sky-400">送出</button>
	
	</div>
	{{ room_name|json_script:"room-name" }}
</div>
<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		const roomName = JSON.parse(document.getElementById('room-name').textContent);

		const chatSocket = new WebSocket(
			'ws://'
			+ window.location.host
			+ '/ws/chat/'
			+ roomName
			+ '/'
		);

		chatSocket.onmessage = function (e) {
			let data = JSON.parse(e.data);
			const userId = document.querySelector("#chat-message-user").dataset.userId;
			const chatLog = document.querySelector('#chat-log');
			let messageElement = document.createElement('div');
			messageElement.classList.add("mt-3", "flex", 'p-4', 'border-b', 'border-gray-200', 'bg-white', 'rounded-md');
			messageElement.innerHTML = `
		
				<div class="pic">
					<img src="${data.sender_img}" alt="頭貼" class="w-12 h-12 rounded-full">
				</div>
				<div class="content ml-2">
					<p class="text-xl">${data.sender_name} <span class="text-xs">${data.created_at}</span></p>
					<p>${data.content}</p>								
				</div>
       
			`
			chatLog.appendChild(messageElement);
			chatLog.scrollTop = chatLog.scrollHeight;
		};

		chatSocket.onclose = function (e) {
			console.error('Chat socket closed unexpectedly');
		};

		const messageInputDom = document.querySelector('#chat-message-input');
		const messageSubmitDom = document.querySelector('#chat-message-submit');

		messageInputDom.focus();
		messageInputDom.onkeyup = function (e) {
			if (e.key === 'Enter') {
				messageSubmitDom.click();
			}
		};

		messageSubmitDom.onclick = function (e) {
			const userId = document.querySelector("#chat-message-user").dataset.userId;
			const userName = document.querySelector('#chat-message-user').dataset.userName;
			const userImg = document.querySelector('#chat-message-user').dataset.userImg;
			const message = messageInputDom.value;
			const privateUsers = roomName.split("_");
			const receiverId = privateUsers[0] == userId ? privateUsers[1] : privateUsers[0];

			chatSocket.send(JSON.stringify({
				"senderId": userId,
				"receiverId": receiverId,
				"message": message,
				"senderName": userName,
				"senderImg": userImg,
			}));

			messageInputDom.value = '';
		};
	});
</script>
{% endblock %}