{% extends 'boards/base.html' %}
{% block content %}
{% include 'friends/navbar.html' %}

<div class="flex items-center justify-center w-full ">
  <div class="w-full overflow-hidden bg-white rounded-md">
    <div id="chat-log" class="flex flex-col p-4">
      {% if private_messages %}
      {% for message in private_messages %}
      <a class="" href="{% url 'chats:private_message_room' message.private_room %}">
        <div class="flex p-4 mt-3 bg-white rounded-md border-b-1">
          {% if message.sender.id == user.id %}
          <div class="pic">
            {% if message.sender.user_img %}
            <img src="{{ message.sender.user_img.url }}" alt="photo"
              class="w-12 h-12 border border-gray-200 rounded-full">
            {% else %}
            <img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
            {% endif %}
          </div>
          <div class="ml-2 content">
            <p class="text-xl">{{message.sender}} <span class="text-xs">{{message.created_at|date:"Y-m-d H:i"}}</span>
            </p>
            <p>{{message.content}}</p>
          </div>
          {% else %}
          <div class="pic">
            {% if message.sender.user_img %}
            <img src="{{ message.sender.user_img.url }}" alt="photo"
              class="w-12 h-12 border border-gray-200 rounded-full">
            {% else %}
            <img src="/static/image/cathead.png" alt="頭貼" class="w-12 h-12 rounded-full">
            {% endif %}
          </div>
          <div class="ml-2 content ">
            <p class="text-xl">{{message.sender}} <span class="text-xs">{{message.created_at|date:"Y-m-d H:i"}}</span>
            </p>
            <p>{{message.content}}</p>
          </div>
          {% endif %}
        </div>
      </a>
      {% endfor %}
      {% else %}
      <div class="text-center text-gray-600">目前沒有訊息</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}