{% extends 'boards/base.html' %}
{% block content %}
{% include 'friends/navbar.html' %}

<div class="flex items-center justify-center w-full ">
  <div class="w-full overflow-hidden bg-white rounded-md">
    <div id="chat-log" class="flex flex-col p-4">
      {% if private_messages %}
      {% for message in private_messages %}
      <a class="" href="{% url 'chats:private_message_room' message.private_room %}">
        <div class="flex p-4 mt-3 bg-white rounded-md border-b-1">
          {% if message.sender.id == user.id %}
          <div class="w-12 overflow-hidden rounded-full aspect-square">
            {% if message.sender.user_img %}
            <img src="{{ message.sender.user_img.url }}" alt="photo" class="block object-cover w-full h-full">
            {% else %}
            <img src="/static/image/cathead.png" alt="頭貼" class="block object-cover w-full h-full">
            {% endif %}
          </div>
          <div class="flex-1 ml-2 break-all">
            <p class="text-xl">{{message.sender}}
              <span class="text-xs">
                {{message.created_at|date:"Y-m-d H:i"}}
              </span>
            </p>
            <p class="w-full">{{message.content}}</p>
          </div>
          {% else %}
          <div class="w-12 overflow-hidden rounded-full h-12">
            {% if message.sender.user_img %}
            <img src="{{ message.sender.user_img.url }}" alt="photo" class="block object-cover w-full h-full">
            {% else %}
            <img src="/static/image/cathead.png" alt="頭貼" class="block object-cover w-full h-full">
            {% endif %}
          </div>
          <div class="flex-1 ml-2 break-all">
            <p class="text-xl">{{message.sender}}
              <span class="text-xs">
                {{message.created_at|date:"Y-m-d H:i"}}
              </span>
            </p>
            <p class="w-full">{{message.content}}</p>
          </div>
          {% endif %}
        </div>
      </a>
      {% endfor %}
      {% else %}
      <div class="text-center text-gray-600">目前沒有訊息</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}