{% extends 'boards/base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-col items-center justify-center w-full h-full">
	<div
		class="sticky top-0 flex items-center justify-between w-full px-4 py-2 font-normal text-black bg-white border-b-1">
		<div class="flex items-center">
			<button onclick="window.history.back();" class="material-symbols-outlined">arrow_back</button>
			<div class="w-12 mx-2 overflow-hidden rounded-full aspect-square">
				{% if receiver.user_img %}
				<img src="{{ receiver.user_img.url }}" alt="" class="block object-cover w-full h-full">
				{% else %}
				<img src="/static/image/cathead.png" alt="Profile Picture" class="block object-cover w-full h-full">
				{% endif %}
			</div>
			<div>
				<h2 class="text-3xl">{{ receiver.name }}</h2>
			</div>
		</div>
		<div x-data="{ showDropdown: false }" class="relative">
			<button @click="showDropdown = !showDropdown" class="focus:outline-none">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
					stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
				</svg>
			</button>

		</div>
	</div>
	<div class="flex-1 w-full overflow-y-scroll bg-white rounded-md">
		<div id="chat-log" class="flex flex-col w-full p-4">
			{% for message in private_messages %}
			<div class="flex items-start w-full p-4 mt-3 bg-white rounded-md ">
				<div class="w-12 overflow-hidden rounded-full aspect-square">
					{% if message.sender.user_img %}
					<img src="{{ message.sender.user_img.url }}" alt="photo" class="block object-cover w-full h-full">
					{% else %}
					<img src="/static/image/cathead.png" alt="頭貼" class="block object-cover w-full h-full">
					{% endif %}
				</div>
				<div class="flex-1 ml-2 break-all">
					<p class="text-xl">{{ message.sender }} <span class="text-xs">
							{{ message.created_at|date:"Y-m-d H:i" }}</span></p>
					<p class="w-full">{{ message.content }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="sticky bottom-0 flex items-center w-full p-4 bg-white">
		{% if user.user_img %}
		<div class="hidden" id="chat-message-user" data-user-id="{{ user.id }}" data-user-name="{{ user.username }}"
			data-user-img="{{ user.user_img.url }}"></div>
		{% else %}
		<div class="hidden" id="chat-message-user" data-user-id="{{ user.id }}" data-user-name="{{ user.username }}"
			data-user-img="/static/image/cathead.png"></div>
		{% endif %}
		<textarea id="chat-message-input" cols="30" rows="2" placeholder="輸入訊息..."
			class="flex-1 px-2 rounded-md resize-none focus:outline-none"></textarea>
		<button id="chat-message-submit"
			class="bg-[#3397cf] text-white font-light py-2 px-4 rounded-md hover:bg-sky-400 disabled:bg-gray-400"
			disabled>送出</button>
	</div>
	{{ room_name|json_script:"room-name" }}
</div>
<script src="{% static 'scripts/add_private_message.js' %}"></script>
{% endblock %}