@tailwind base;
@tailwind components;
@tailwind utilities;

.main-left {
  display: flex;
  background-color: rgb(205, 200, 200);
  .people-section {
    width: 80px;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
    .people-container {
      width: 100%;
      height: 100%;
      overflow: auto;
      .person-link {
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          border-radius: 50%;
          background-color: gray;
        }
        img:hover {
          background-color: #fa0;
          border-radius: 15px;
          transition: 0.5s;
        }
      }
      .group-link {
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        li + li {
          margin-top: 10px;
        }
        li {
          width: 100%;
          a > img {
            width: 100%;
            background-color: gray;
            border-radius: 50%;
          }
          a > img:hover {
            color: white;
            background-color: #fa0;
            border-radius: 15px;
            transition: 0.5s;
          }
        }
      }
      .group-add-btn {
        display: flex;
        justify-content: center;
        width: 100%;
        button > img {
          text-align: center;
          width: 60px;
          border-radius: 50%;
          color: white;
          background-color: gray;
        }
        button > img:hover {
            color: white;
            background-color: #fa0;
            border-radius: 15px;
            transition: 0.5s;
        }
      }
    }
  }

  .search-section {
    width: 300px;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
    border: 1px solid green;
    .search-container {
      width: 100%;
      height: 100vh;
      overflow: auto;
      border: 1px solid brown;
      .search-nav {
        .search-bar {
          align-items: center;
          border-bottom: 2px solid gray;
          padding: 20px 15px;
          color: gray;
          .search-label {
            background-color: #fff;
            display: flex;
            height: 30px;
            width: 100%;
            border-radius: 10px;
            position: relative;
            .search-img {
              position: absolute;
              top: 3px;
              left: 10px;
            }
            input {
              width: 100%;
              border-radius: 10px;
            }
          }
        }

        .btn-group {
          display: flex;
          flex-direction: column;
          padding: 20px;
          border: 1px solid red;
          button + button {
            margin-top: 10px;
          }
          button {
            display: flex;
            align-items: center;
            height: 30px;
            border-radius: 10px;
            background-color: #fff;
            text-align: start;
            i {
              margin: 0 15px;
            }
          }
          button:hover {
            display: flex;
            height: 30px;
            border-radius: 10px;
            color: white;
            background-color: orange;
            i {
              margin: 0 15px;
            }
          }
        }
        h3 {
          margin-top: 15px;
          margin-left: 20px;
        }
        .personnel-list {
          border: 1px solid red;
          li {
            display: flex;
            padding-left: 25px;
            padding-top: 20px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
            span {
              font-size: 15px;
              margin-left: 10px;
              text-align: center;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
}
