<aside class="absolute md:relative bg-slate-800 w-[250px] h-screen overflow-hidden top-0 right-[-100%] md:right-0">
    <div class="p-5 h-full">

        <div class="head-block">
            <a class="block py-5 text-white text-xl border-b-2 border-white" href="">所有看板</a>
        </div>
        <p class="py-5 text-white text-xl border-b-2 border-white">看板列表</p>
        <div class="body-block h-full overflow-y-scroll">
            <div>
                <a class="block py-5 text-white text-xl" href="{% url 'boards:new' %}">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
                <a class="block py-5 text-white text-xl divide-y divide-slate-200" href="">這是個看板</a>
            </div>
            
        </div>
    </div>
</aside>
