<div id="like_comment_btn" class="flex items-center">
  {% if comment.is_like %}
  <form hx-post="{% url 'comments:remove_like' comment.id %}" hx-throttle="500ms" hx-target="#like_comment_btn" hx-swap="outHTML" >
    {% csrf_token %}
    <button
      class="px-2 py-1 mx-2 mb-1 font-bold text-white uppercase duration-150 ease-linear bg-red-400 rounded shadow active:bg-slate-700 focus:outline-none focus:shadow-sky-800 ">取消讚</button>
  </form>
  {% else %}
  <form hx-post="{% url 'comments:add_like' comment.id %}" hx-throttle="500ms" hx-target="#like_comment_btn" hx-swap="outHTML">
    {% csrf_token %}
    <button
      class="px-2 py-1 mx-2 mb-1 font-bold text-white uppercase duration-150 ease-linear rounded shadow active:bg-slate-700 bg-sky-400 focus:outline-none focus:shadow-sky-800 ">點讚</button>
  </form>
  {% endif %}
  <p  class="mr-10">讚: {{comment.like_count}}</p>
</div>