<nav class="flex flex-col w-full px-6 py-4 font-sans text-center bg-white shadow sm:flex-row sm:text-left sm:justify-between sm:items-baseline">
    <div class="flex items-center justify-between w-full">
        <div class="mb-2 sm:mb-0">
            <a href="{% url "index" %}" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark">Home</a>
        </div>
        <div class="flex items-center">
            <!-- 登入和註冊連結 -->
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="ml-2 text-lg no-underline text-grey-darkest hover:text-blue-dark">登出</a>
            {% else %}
                <a href="{% url 'login' %}" class="ml-2 text-lg no-underline text-grey-darkest hover:text-blue-dark">登入</a>
                <a href="{% url 'register' %}" class="ml-2 text-lg no-underline text-grey-darkest hover:text-blue-dark">註冊</a>
            {% endif %}
        </div>
    </div>
</nav>