<div class="sticky top-[68px] flex gap-2 overflow-hidden">
    <div class="bg-blue-500">
        <a class="block w-screen p-2 text-center text-white" href="">NEWS ONE</a>
    </div>
    <div class="bg-blue-500">
        <a class="block w-screen p-2 text-center text-white" href="">NEWS TWO</a>
    </div>
    <div class="bg-blue-500">
        <a class="block w-screen p-2 text-center text-white" href="">NEWS THREE</a>
    </div>
    <div class="bg-blue-500">
        <a class="block w-screen p-2 text-center text-white" href="">NEWS FORE</a>
    </div>
    <div class="bg-blue-500">
        <a class="block w-screen p-2 text-center text-white" href="">NEWS FIVE</a>
    </div>
</div>

<script src="{% static 'scripts/custom.js' %}">
</script>