{% extends "layouts/base.html" %}
{% block head %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      height: 600,
      editable: true,
      selectable: true,
      "allDay": event.is_all_day,
      headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'today'
      },
      eventSources: [{ url: '/events/all_events/', color: '#C7B7A3' }],
      eventClick: function (info) {
        let startDateTime = formatDate(info.event.startStr);
        let endDateTime = formatDate(info.event.endStr);
        let textContent = `<div style="border: 2px solid #ccc; border-radius: 5px; padding: 10px; margin: 0 20px">
  <div style="display: flex; justify-center: center;">
    <div style="text-align: left;">
      <p style="text-indent: 0; margin: 10px 0; line-height: 1.5;">開始: ${startDateTime}</p>
      <p style="text-indent: 0; margin: 10px 0; line-height: 1.5;">結束: ${endDateTime}</p>
      <p style="text-indent: 0; margin: 10px 0; line-height: 1.5;">活動資訊: ${info.event.extendedProps.description}</p>
    </div>
  </div>
</div>`;
        Swal.fire({
          icon: info.event.allDay,
          title: info.event.title,
          html: textContent,
          confirmButtonText: "OK",
          allowHtml: true
        });
      },
    });
    calendar.render();
  });

  function formatDate(dateTimeStr) {
    const none = "沒有設定"
    if (!dateTimeStr) return none;

    const dateTime = new Date(dateTimeStr);
    const year = dateTime.getFullYear();
    const month = String(dateTime.getMonth() + 1).padStart(2, '0');
    const day = String(dateTime.getDate()).padStart(2, '0');
    const hours = String(dateTime.getHours()).padStart(2, '0');
    const minutes = String(dateTime.getMinutes()).padStart(2, '0');

    return `${year}/${month}/${day} ${hours}:${minutes}`;
  }
</script>

{% endblock %}
{% block content %}

<a href="{% url 'events:new' %}"><button>新增活動</button></a>
<div class="flex items-center justify-center min-h-screen mt-1">
  <div id="calendar" class="w-full p-4 sm:w-2/3 md:w-2/3 lg:w-2/3 xl:w-2/3">
  </div>
</div>
{% endblock %}